<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Log message format -->
        <encoder>
            <pattern>%d %highlight([%-5level])---[%file]---%yellow([%thread]): %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.mongodb.driver.cluster" level="ERROR"/>
    <logger name="org.springframework.orm.jpa" level="ERROR"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>